﻿#zoomdiv{
	position: absolute;
	background: #ffffff;
	border:1px solid #CCCCCC;
	display:none;
	text-align: center; 
	overflow: hidden;
}
#zoomup{
	position:absolute; 
	background:#c0c0c0;
	display:none;
	filter:alpha(opacity=50);
	opacity:.5;
	cursor:move;
}
.zoom{
	width:100px; 
	vertical-align:bottom;/*处理IE bug*/
}