.smallImageList_select{
	border: 5px solid #C0C0C0;
}
#smallImageList{
	width:100px;
	height:400px;
	display:block;
	float: left;
}
.img{
	width:90px;
	height:70px;
}
.show{
	display: block;
	visibility: visible;
}
.hide{
	display: none;
	visibility: hidden;
}
div{
	display: block;
}
.product_Info_key{
	float: none;	
	height: 40px;
	border-bottom: #C0C0C0 2px solid;
	cursor: pointer;
}
.product_Info_key_title{
	float: left;
	line-height: 40px;
	margin-left: 10px;
}
.product_Info_key_flag{
	font-size: 30px;
	float: right;
	line-height: 40px;
	margin-right: 10px;
}
.product_Info{
	margin-top: 20px;
	width: 40%;
	float: right;
	margin-right: 10%;
}
