* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

#function_content {
	height: 50px;
	background-color: #334455;
}

#logo_content {
	height: 100px;
	background-color: blue;
}

.function_content_a {
	height: 50px;
	line-height: 50px;
	width: auto;
	float: right;
	width: 100px;
	text-align: center;
	color: floralwhite;
	text-decoration: none;
}

.function_content_a:hover {
	background-color: chartreuse;
}

#menu_content {
	position: relative;
	width: 100%;
	background: cadetblue;
}

#menu_content ul {
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

#menu_content ul li {
	cursor: pointer;
	width: 100px;
	float: left;
	//margin-left: 10px;
	//margin-right: 10px;
	line-height: 50px;
	text-align: center;
}

#menu_content ul li:hover {
	background-color: dodgerblue;
}

.control {
	z-index: 5;
}

#Image_content {
	width: auto;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}

.flexslider {
	margin: 0px auto 20px;
	position: relative;
	width: 100%;
	height: 482px;
	overflow: hidden;
	zoom: 1;
}

.flexslider .slides li {
	width: 100%;
	height: 100%;
}

.flex-direction-nav a {
	width: 70px;
	height: 70px;
	line-height: 99em;
	overflow: hidden;
	margin: -35px 0 0;
	display: block;
	background: url(images/ad_ctr.png) no-repeat;
	position: absolute;
	top: 50%;
	z-index: 10;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .3s ease;
	border-radius: 35px;
}

.flex-direction-nav .flex-next {
	background-position: 0 -70px;
	right: 0;
}

.flex-direction-nav .flex-prev {
	left: 0;
}

.flexslider:hover .flex-next {
	opacity: 0.8;
	filter: alpha(opacity=25);
}

.flexslider:hover .flex-prev {
	opacity: 0.8;
	filter: alpha(opacity=25);
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
	opacity: 1;
	filter: alpha(opacity=50);
}

.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: 10px;
	text-align: center;
}

.flex-control-nav li {
	margin: 0 2px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.flex-control-paging li a {
	background: url(images/dot.png) no-repeat 0 -16px;
	display: block;
	height: 16px;
	overflow: hidden;
	text-indent: -99em;
	width: 16px;
	cursor: pointer;
}

.flex-control-paging li a.flex-active,
.flex-control-paging li.active a {
	background-position: 0 0;
}

.flexslider .slides a img {
	width: 100%;
	height: 482px;
	display: block;
}

#NewCommodity_content {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	padding-bottom: 30px;
	display:table;
}

.NewCommodity {
	margin-top: 10px;
	width: 150px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.NewCommodity a span {
	text-align: center;
	width: 150px;
}

.NewCommodity img {
	width: 150px;
	height: 200px;
}

#footer_content {
	border: 1px solid #223344;
	bottom: 0;
	background-color:#223344;
}